{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
<main>
    <div>
    <h1>"Logout"</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>"Logout"</button>
    </form>
    </div>
</main>
{% endblock content %}
